html,
body {
  padding: 0;
  margin: 0;
  font-size: $font_size_default;
}

body {
  font-family: $font_default;
  font-weight: 400;
  background-color: $color_white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: $font_default;
}
